Flask==2.1.3
Werkzeug
python-dotenv
groq
gtts
sounddevice
SpeechRecognition 
gunicorn 
beautifulsoup4 
gunicorn
idna
packaging
pipwin
PyAudio
pyjsparser
pypiwin3
PyPrind
pySmartDL
pyttsx3
pywin3
requests
urllib3
Werkzeug
wikipedia